<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
  	<h1>It's Mr. Stick Figure</h1>
  	<p>Waar is Wally? En met Wally (opkliks voor groot) bedoelen we natuurlijk de diversities omdat het moet. Ook in Leiden is de introductieweek begonnen en het geheel is natuurlijk weer witter dan een bleke ijsbeer in de sneeuw. Hele cohorten blanke middle class middelbare scholiertjes beginnen vandaag aan de eerste dag van hun studerende leven. Lekker met z'n 800en in de collegezaal psychologie "omdat het zo leuk is om wat met mensen te doen" na een jaartje backpacken door Zuid-Amerika en selfies maken met alpacaweesjes voor het goeie doel. Nu is studeren maar half gelukt als je niet lid bent geweest van een studentenvereniging, dus moeten de studieschuldslaven in de dop langs een treurige kermis van semi-ludiek bedoelde rodeostieren en condooms met flauwe slogans ("liberals do it freely - kom als student bij de JOVD!"). Afgeleverd door pappie en mammie in de stationwagon mogen Jasper en Sanne voor het eerst van hun leven kennis maken met de geneugten van het studerende leven: we zien zo op Dumpert wel hoe de combinatie van nognatachterdeoren en oneindige hoeveelheden paardekut zich naar beeld vertaalt. Voor alle jonge lezertjes die nu gaan studeren succes en alle oudere studerende lezertjes die nu gaan jagen op achttienjarige hertjes ook veel plezier. Laten we afsluiten met een ultiem WTF-promofilmpje uit den ouden doosch van de Evangelische Studenten Vereniging Ichthus.</p>
  </div>
	
</div>